* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: inherit;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

/* Animation for background */

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  margin-top: 3rem !important;
  margin-bottom: 2rem !important;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 400px;
  justify-content: space-around;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
  align-items: center;
}

.sketch-board {
  width: 500px;
  height: 500px;
  display: grid;
  border: 1px solid black;
  margin: 0.5rem;
}
